a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
* {
    font-family: sans-serif;
}
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
nav span{
    padding: 10px;
    font-size: 20px;
    border: solid black 2px;
}
#onclick {
    font-family: sans-serif; /*solo para poner algo y no me marque error*/
}
#onclick2 {
    font-family: sans-serif; /*solo para poner algo y no me marque error*/
}
#prestamo {
    font-family: sans-serif; /*solo para poner algo y no me marque error*/
}
#prestamo2 {
    font-family: sans-serif; /*solo para poner algo y no me marque error*/
}