#head{
    font-family: sans-serif;
}
#body {
    font-family: sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr {
    border-right-width: 100vw;
    border-left-width: 100vw;
    border-top-width: 0.5px;
    border-bottom-width: 0.5px;
    border-color: black;
    margin: 0px;
}

/*HEADER*/
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo {
    color: blue;
}
/*HEADER*/

/*NAV*/
#nav {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#inicio {
    margin-right: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    border: solid black 2px;
}
#prestamos {
    margin-left: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    border: solid black 2px;
}
/*NAV*/

/*MAIN*/
#main {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#formulario {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#aprobado {
    font-size: 24px;
}
#desaprobado {
    font-size: 24px;
}
/*MAIN*/

/*FOOTER*/
#footer {
    background-color: grey;
}
/*FOOTER*/